@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  .print\:hidden {
    display: none !important;
  }
  .print\:max-w-none {
    max-width: none !important;
  }
  .print\:border-0 {
    border: 0 !important;
  }
  .print\:shadow-none {
    box-shadow: none !important;
  }
  .print\:hidden + div,
  .print\:hidden + div * {
    visibility: visible;
  }
  .mx-auto.max-w-3xl {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
